// Font.
$font: (
  primary: ("Roboto", sans-serif),
  secondary: ("Roboto", sans-serif)
);

// Palette.
$palette: (
  primary:       #536171,
  secondary:     darken(#536171, 15%),
  meta:          lighten(#536171, 25%),
  border:        lighten(#536171, 52%),
  bg:            lighten(#536171, 58%),
  accent:        #3cb464,
  accent-blue:   #108afb,
  accent-black:  #333b45,
  accent-red:    #f8646c
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";

.site-header {
  background: #008850;
  border: 0;
}

.menu {
  .menu-item {
    color: white;
    a {
      text-transform: none;
    }
  }
}

.intro {
  background: #008850;
  width: 100vw;
  text-align: center;
  padding: 9vh 0;
  position: relative;

  .intro-text-box {
    text-align: left;
    color: white;
    font-style: normal;
    font-weight: 700;
    
    letter-spacing: 0em;
    position: absolute;
    left: 30%;
    width: 20vw;
  }

  .intro-title-1 {
    font-size: 2.5em;
    line-height: 64px;
    border-bottom: 4px solid #00A963;
  }

  .intro-title-2 {
    font-size: 1.8em;
    line-height: 1.3em;
  }
}

