{{ define "hero" }}
  <div class="intro">
    <div class="intro-text-box">
      <div class="intro-grouping-1">
        <div class="intro-title-1">Designing<br/>better care</div>
        <img src="assets/svg/top-blocks.svg" alt="Blocks" /></a>
      </div>
      <div class="intro-grouping-2">
        <div class="intro-title-2">Shaping<br/> innovation<br/> together</div>
        <img src="assets/svg/blocks.svg" alt="Blocks" /></a>
      </div>
    </div>
    
  </div><!-- .intro -->
{{ end }}

{{ define "content" }}
  <div class="post-feed">
    {{ $display_posts := ((.Site.GetPage "section" "/posts").Pages).ByDate.Reverse }}
    {{ range $post := $display_posts }}
    <article class="post post-card">
      <div class="post-card-inside">
        {{ if $post.Params.thumb_img_path }}
        <a class="post-card-thumbnail" href="{{ $post.URL }}">
          <img class="thumbnail" src="{{ $post.Params.thumb_img_path | relURL }}" alt="{{ $post.Params.title }}" />
        </a>
        {{ end }}
        <div class="post-card-content">
          <header class="post-header">
            <div class="post-meta">
              <time class="published"
              datetime="{{ $post.Date | dateFormat "2006-01-02 15:04" }}">{{ $post.Date | dateFormat "January 02, 2006" }}</time>
            </div>
            <h2 class="post-title"><a href="{{ $post.URL }}" rel="bookmark">{{ $post.Params.title }}</a></h2>
          </header><!-- .post-header -->
          <div class="post-excerpt">
            {{ if $post.Params.excerpt }}
            <p>{{ $post.Params.excerpt }}</p>
            {{ end }}
            {{ if and (eq $.Params.has_more_link true) $.Params.more_link_text }}
            <p class="read-more">
              <a class="button button-secondary" href="{{ $post.URL }}">{{ $.Params.more_link_text }}</a>
            </p>
            {{ end }}
          </div><!-- .post-excerpt -->
        </div><!-- .post-card-content -->
      </div><!-- .post-card-inside -->
    </article><!-- .post -->
    {{ end }}
  </div><!-- .post-feed -->

  <!-- Pagination TBD -->
  <!--
  <nav class="pagination">
    <div class="nav-links">
      <a class="older-posts button" href="#"><span class="icon-arrow-left" aria-hidden="true"></span><span class="screen-reader-text">Older posts</span></a>
      <span class="page-number">Page X of Y</span>
      <a class="newer-posts button" href="#"><span class="screen-reader-text">Newer posts</span><span class="icon-arrow-right" aria-hidden="true"></span></a>
    </div>
  </nav>
  -->

{{ end }}
